<div [@dialog] *ngIf="visible" class="dialog">
<p>
  ADDITION works!
</p>
<div class = "container">

        <h1>ADDITION</h1>
        <form>
           
           <div class = "form-group">
              <label for = "operanta">operant-1</label>
              <input type = "string" class = "form-control" id = "operanta"
                 [(ngModel)] = "operanta" name = "operanta">
                 {{operanta}}
           </div>
           
        </form>
        <button class='btn btn-primary' (click) = "adddata(); close();">add</button>
     </div>
       <button *ngIf="closable" (click)="close()" aria-label="Close" class="dialog__close-btn">X</button>
</div>